<div id="games"  class="row">
  <div class="span6">
  <h2>my games</h2>
  <ul class="games">
    <%- @other_games.each do |g| %>
      <li class="game">
			  <div>
		      <%= link_to(game_path(g)) do %>
            <!-- <i class='icon icon-th icon-large'></i> -->
            <%= render :partial => "game_icon", :locals => {:game => g} %>
            <span class=""><%= g.status_string(current_user) %></span>
  				<% end %>
	  		</div>
      </li>
    <%- end -%>
    <li class="game">
	  	<div>
	      <%= link_to(new_game_path) do %>
          <i class='icon icon-play icon-large'></i> New Game
  			<% end %>
	  	</div>
    </li>
    <li class="clear"></li>
  </ul>

  <h2>my completed games</h2>
  <ul class="games">
    <%- @completed_games.each do |g| %>
      <li class="game">
			  <div>
		      <%= link_to(game_path(g)) do %>
            <!-- <i class='icon icon-th icon-large'></i> -->
            <%= render :partial => "game_icon", :locals => {:game => g} %>
            <span class=""><%= g.status_string(current_user) %></span>
  				<% end %>
	  		</div>
      </li>
    <%- end -%>
    <li class="clear"></li>
  </ul>

</div>
</div >
